@import "vars";

.postForm {
    width: 300px;
    margin: 20px auto;
        input, textarea {
        display: block;
        box-sizing: border-box;
    }
    .formName, .formSubject, .formContent {
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        font-family: $normal-fonts;
    }
    .formSubmit {
        margin: 5px 0;
    }
}