mixin threadPreview(post)
    .threadPreview
        a(href="threads/" + post.id)
            img(src="/images/" + post.img || "0").thumbnail
            if post.subject
                .subject !{post.subject}
        .content !{post.content}