mixin modForms(boardUrl)
  form.deletePost(action=`${auth}/delete` method="POST")
    input.post(name="post" placeholder="Post number" type="number")
    input.board(name="board" placeholder="Board Url" type="hidden" value=boardUrl)
    input.submit(type="submit" value="Delete post")
  form.ban(action=`${auth}/ban` method="POST")
    input.post(name="post" placeholder="Post number" type="number")
    input.board(name="board" placeholder="Board Url" type="hidden" value=boardUrl)
    input.reason(name="reason" placeholder="Reason for ban" type="text")
    input.days(name="days" placeholder="Days" type="number")
    input.hours(name="hours" placeholder="Hours" type="number")
    label All boards?
      input.allBoards(name="allBoards" placeholder="All boards" type="checkbox")
    input.submit(type="submit" value="Ban user for post")
  