extends layout.pug
block head
    title #{webname}
block content
    .pagetitle
        h1 Welcome to FantasyVHS
        p You are on the server-side rendered version of FantasyVHS, with no client side Javascript enabled.
        a(href="https://fantasyvhs.net") View the modern version of the site
        p All posts must conform to US law. You may be banned at the discretion of any moderator/administrator.