@import url('https://fonts.googleapis.com/css?family=PT+Serif|Assistant');


$normal-fonts: "Assistant", sans-serif;
$links: #3fca79;
$name: #049e26;
$subject: #2a8ad8;
$off-black: #2e2e2e;
$fancy-fonts: "PT Serif", sans-serif;