@import "vars";

html {
    font-family: $normal-fonts;
}

body {
    margin: 0;
}

a {
    color: $links;
    text-decoration: none;
}

.thumbnail {
    max-height: 200px;
    overflow: auto;
}

hr {
    color: #858585;
}

.boardInfo, hr {
    span::after {
        content: " /";
    }
    span {
        font-weight: normal;
        font-size: 0.9em;
        color: #474747;
        margin: 0 2px;
    }
    .errored {
        color: lightcoral;
    }
}

.navbar {
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.navbar a {
    margin: 0 10px;
}

.fancy {
    font-family: $fancy-fonts;
}

.content {
    margin: 10px 5px;
    .title {
        text-align: center;
    }
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}