@import "vars";

html {
    font-family: $normal-fonts;
}

body {
    margin: 0;
}

a {
    color: $links;
    text-decoration: none;
}

.thumbnail {
    max-height: 200px;
    overflow: auto;
}

hr {
    color: #858585;
}

.boardInfo, hr {
    .item::after {
        content: " /";
        color: black;
    }
    span {
        font-weight: normal;
        font-size: 0.9em;
        color: #474747;
        margin: 0 2px;
    }
    .errored {
        color: lightcoral;
    }
    .refresh {
        float: right;
        cursor: pointer;
    }
}

.navbar {
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    a {
        margin: 0 10px;
    }
    .right {
        float: right;
    }
}

.pagecontent {
    margin: 10px 5px;
    .title {
        text-align: center;
    }
}

.statusbox {
    // Position
    top: 0;
    position: sticky;

    // Start out small and hidden
    height: 0;
    visibility: hidden;
    opacity: 0;

    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;

    background: rgba(39, 39, 39, 0.856);
    color: #f5f5f5;
    transition: opacity 350ms, height 350ms;

    .text.error {
        color: #e05466;
    }

    .close {
        cursor: pointer;
        color: #e05466;
        float: left;
    }
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}