@import "vars";

.post {
    overflow: hidden;
    margin: 5px 0;
    .files {
        margin: 5px 0;
    }

    .file {
        float: left;
        clear: left;
        margin: 0 10px 0 0;
    }

    .fileInfo {
        display: inline;
        margin-right: 5px;
        .extra {
            font-size: small;
            color: black;
        }
    }

    .postInfo {
        width: 100%;
        .postId {
            float: right;
            margin: 0 5px;
        }
        .subject {
            color: $subject;
            float: left;
        }
        .name {
            color: $name;
        }
        .date {
            font-size: 0.9em;
            margin: 0 5px;
        }
    }
    .content {
        display: inline;
        p {
            margin: 0;
            padding: 0;
        }
    }
}

.replies .post {
    padding: 5px 10px;
    background: #fff;
    border: 1px solid rgb(170, 170, 170);
    color: $off-black;
}