<!DOCTYPE html>
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width: device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/layout.css")
        block head
    body
        .navbar
            a(href="/") Home
            a(href="/boards") Boards
            if session && session.username
                span.right #{session.username}
                a.right(href="/dashboard") Dashboard
            else
                a.right(href="/login") Login
        .pagecontent
            block content