.postFormBox form {
  width: 60%;
  margin: 0 auto;
  .formName, .formSubject, .formContent {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    padding: 5px;
  }
}