@import "postForm";
@import "boardInfo";
@import "vars";

.threads {
  margin: 0 2px;
}

.threadPreview {
  display: inline-block;
  vertical-align: top;
  max-height: 300px;
  max-width: 150px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0 5px;

  img {
    border: 1px solid lightgrey;
    padding: 1px;
  }

  a {
    text-decoration: none;
    color: #2b2b2b;
  }

  .name {
    font-size: small;
    color: $fantasygreen;
    .trip {
      font-weight: bold;
    }
  }

  .date {
    color: $fantasygreen;
    display: block;
    font-size: small;
  }

  .subject {
    color: $fantasyblue;
    text-decoration: underline;
    display: block;
  }

  .threadInfo {
    font-size: 0.9em;
    color: $fantasyred;
    & > * {
      &:after, &:before {
        content: "-";
      }
      margin-right: 5px; 
    }
  }
}