@import "vars";

html {
  font-family: Arial, sans-serif;
}

body {
  background: $fantasybg;
  margin: 0;
}

a, button {
  color: $fantasyblue;
  transition: color 200ms;
  &:hover {
    color: darken($fantasyblue, 20%);
  }
}

.errored {
  color: $fantasyred;
}

.navbar {
  padding: 10px;
  background: #3b3b3b;
  a {
    transition: color 100ms;
    text-decoration: none;
    color: #fafafa;
    margin: 0 5px;
    &:hover {
      color: $fantasyblue;
    }
  }
}

.pagetitle {
  width: 100%;
  text-align: center;
}

.quote {
  color: green;
}